[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
opencv-python = "*"
numpy = "<2"
tflite-runtime = "*"
flask-socketio = "*"
onnxruntime = "*"

[dev-packages]

[requires]
python_version = "3.11"
